<body ng-controller="PdfCtrl">

  <input
    type="file"
    accept="application/pdf"
    onchange="angular.element(this).scope().loadPdf(this.files); angular.element(this).scope().$apply();"
  />

  <iframe
    ng-if="pdfUrl"
    ng-src="{{ pdfUrl }}"
    style="width: 600px; height: 400px;"
  ></iframe>

  <script>
    angular.module('app', []).controller('PdfCtrl', function ($scope, $sce) {
      $scope.pdfUrl = null;

      $scope.loadPdf = function (files) {
        if (!files.length) return;
        const file = files[0];
        if (file.type !== 'application/pdf') {
          alert('Please select a PDF file');
          return;
        }
        const url = URL.createObjectURL(file);
        $scope.pdfUrl = $sce.trustAsResourceUrl(url);
      };
    });
  </script>
</body>